
/* style.css */

body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
}

.content {
    font-family: Roboto, sans-serif;
    overflow: hidden;
    Display: Flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
    padding-left: 200px;
    padding-right: 200px;
    color: #F9FAF8;
}

.header, ul {
    display: flex;
    gap: 20px;
    color: #E5E7EB;
}


.first {
    background-color: #1f2937;
    flex: 2 1 400px;
    display: flex;
    padding-left: 200px;
    padding-right: 150px;
    padding: 25px;
}

.firstleft {
    background: #1f2937;
    flex: 1;
    padding: 25px;
    color: #F9FAF8;
    margin: 80px;
}

#firstheading {
    font-size: 48px;
    font-weight: 900px;
}

#firsttext {
    font-size: 18px;
}

.firstleft button {
    Background: #3882F6;
    color: white;
    height: 30px;
    width: 120px;
}

.firstright {
    display: flex;
    background: lightgrey;
    flex: 1;
    margin: 100px;
    justify-content: center;
    align-items:center;
}

.second {
    flex: 2 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.secondheading {
    text-align: center;
    padding: 20px;
    flex: 1 1 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.secondcontent {
    Display: flex;
    justify-content: center;
    padding: 20px;
    flex: 1 1 300px
}

.item {    
    width: 170px;
    text-align: center;
    margin: 30px;
}

img {
    height: 175px;
    width: 175px;
    border-radius:50px;
}


.third {
    background-color: #E5E7EB;
    flex: 1 1 500px;
    flex-display: column;
    padding-left: 300px;
    padding-right: 300px;
    color: #1F2937;
    align-content: center;
}

.thirdtext {
    font-style: italic;
    font-size: 36px;
}

.thirdname {
    font-weight: 700;
    justify-self: right;
    font-size: 24px;
}

.fourth {
    background-color: yellow;
    flex: 1;
}

.footer {
    background-color: grey;
    height: 50px;
}